extends layout

block content
  h1= "Titta mamma jag har gjort en hemsida"
  p Test login
  p
  form(action="/users/login",method="post")
    input(name="username", id="username", type="text", value="", placeholder="email")
    p
    input(name="password", id="password", type="text",value="", placeholder="password")
    p
    input(type="submit", value="Login")